@import "tailwindcss";


  *{
  font-family:"ubuntu, sans-serif"
}

#details-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


#details-container #umidity{
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: .6r
}